:root {
  /* Colors */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-black-33: #333333;
  --color-black-50: #505050;
  --color-gray-50: #fafafa;
  --color-gray-100: #f7f7f7;
  --color-gray-200: #f3f4f6;
  --color-gray-250: #f0f0f0;
  --color-gray-300: #e5e7eb;
  --color-gray-400: #a2a2a2;
  --color-gray-500: #6f6f6f;
  --color-gray-600: #545454;
  --color-gray-700: #3c3c3c;
  --color-blue-500: #2d70de;
  --color-purplish-blue: #6466ff;
  --color-purplish-blue-rgb: 100, 102, 255;
  --color-green: #24ff78;
  --color-signal-green-500: #39ac00;
  --color-signal-red-500: #ff4d4f;
  --color-green-rgb: 36, 255, 120;
  --color-border: var(--color-gray-300);

  /* Chat bubble colors */
  --user-message-bubble-color: #128dff;
  --user-message-text-color: #ffffff;

  /* Status Colors */
  --color-success: #155724;
  --color-error: #f13637;

  /* Border */
  --border-default: 1px solid var(--color-border);
  --border-light: 1px solid rgba(217, 217, 217, 0.23);

  /* Spacing */
  --spacing-3xs: 0.3rem; /* 8px */
  --spacing-2xs: 0.5rem; /* 8px */
  --spacing-xs: 0.75rem; /* 12px */
  --spacing-sm: 1rem; /* 16px */
  --spacing-md: 1.25rem; /* 20px */
  --spacing-lg: 1.5rem; /* 24px */
  --spacing-xl: 2rem; /* 32px */
  --spacing-2xl: 2.5rem; /* 40px */
  --spacing-3xl: 3rem; /* 48px */

  /* Typography */
  --font-family-default: Inter, sans-serif;
  --font-family-brand: "PP Mori", sans-serif;
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 22px;
  --font-size-xl: 36px;
  --font-size-2xl: 42px;

  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --line-height-normal: 150%;
  --line-height-tight: 140%;

  /* Transitions */
  --transition-default: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-fast: 150ms ease-out;

  /* Shadows */
  --shadow-sm: 0px 4px 40px rgba(0, 0, 0, 0.15);
  --shadow-md: 0px 6px 10px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0px 10px 20px rgba(0, 0, 0, 0.15);

  --box-shadow: 0 7px 10px rgba(0, 0, 0, 0.07);
  --temp-border-box-shadow:
    0 -1.5px 0 0 rgba(0, 0, 0, 0.1) inset, 0 0 0 1px inset rgba(0, 0, 0, 0.08);

  /* Layout */
  --header-height: 88px;
  --status-banner-height: 0px;
  --min-section-width: 400px;
  --admin-page-padding: var(--spacing-xl);

  /* Border Radius */
  --radius-xs: 4px;
  --radius-sm: 6px;
  --radius-md: 16px;
  --radius-lg: 24px;
  --radius-full: 9999px;

  /* Button Heights */
  --button-height-sm: 38px;
  --button-height-md: 48px;
}

html[data-status-banner="visible"] {
  --status-banner-height: 44px;
}
