.wrapper,
.formGroup {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3xs);
}

.formGroup {
  width: 100%;
  text-align: left;
  position: relative;
}

.copyButton {
  position: absolute;
  bottom: var(--spacing-xs);
  right: var(--spacing-xs);
}

.label {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  color: var(--color-gray-600);
}

.input {
  font-family: var(--font-family-default);
  font-size: var(--font-size-md);
  color: var(--color-black);
  background: var(--color-white);
  border: var(--border-default);
  border-radius: var(--radius-md);
  padding: var(--spacing-xs) var(--spacing-sm);
  outline: none;
  transition: border-color var(--transition-fast);
  line-height: var(--line-height-normal);
  box-sizing: border-box;
  width: 100%;
}

.input::placeholder {
  color: var(--color-gray-400);
}

.input:focus {
  outline: 2px solid var(--color-black);
  outline-offset: 2px;
  border-color: #3f9cff;
}

@media (max-width: 768px) {
  .input {
    font-size: 16px; /* Prevents zoom on iOS */
  }
}

.input.hasError {
  border-color: var(--color-signal-red-500);
}

.input.hasError:focus,
.inputError:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--color-error);
}

.inputError {
  border-color: var(--color-signal-red-500);
}

.error,
.errorMessage {
  font-size: var(--font-size-xs);
  color: var(--color-signal-red-500);
}

.errorMessage {
  margin-top: var(--spacing-3xs);
}
