.tooltipPositioner {
  z-index: 10000;
}

.tooltipContent {
  background-color: var(
    --tooltip-background,
    #333
  );
  color: var(--tooltip-color, white);
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: visible;
}

.tooltipArrow {
  fill: var(--tooltip-background, #333);
  display: block;
}

.tooltipArrow svg {
  display: block;
}
